.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.img {
  width: 50px;
  height: 50px;
  margin-right: 20px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.item{
  cursor: pointer;
  padding: 2px;
}
.item:hover{
  background: #f0f0f0;
}
